.list_items{
    position: relative;

}
.list_items:hover{
    color:#EDA3B5;
}

.list_items::after{
    content: "";
    width: 0;
    height: 3px;
    transition: .7s;
    position: absolute;
    background-color: #EDA3B5;
    top: 42px;
}

 .list_items:hover::after {
    width: 90%;
    
 }